<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/#page-top"><img src="../img/etc-logo2.png" width="100" alt=""></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#about">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#projects">Our Expertise</a>
          </li>
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#approach">Our Approach</a>
            </li>
            <a class="nav-link js-scroll-trigger" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<section class="p-5 bg-light">
<div class="container p-5">
    <div class="row">
<div class="col-xl-8 offset-xl-2 py-5">

  <div class="formbox">
  <h4>Thanks for contacting EnterCloud support. We'll get back to you as soon as we can.
  </h4>



</div>
</div>
                </div>
              </section>


    <!--footer starts from here-->
  <footer class="footer">
  <div class="container bottom_border">
  <div class="row">
  <div class=" col-sm-4">
  <h5 class="headin5_amrc col_white_amrc pt2 text-center">Find us</h5>
  <!--headin5_amrc-->
  <p><i class="fa fa-location-arrow"></i> 332 S Michigan Ave Chicago, IL 60604 </p>
  <p><i class="fa fa fa-envelope"></i> admin@entercloud.info  </p>


  </div>


  <div class=" col-sm-4">
  <h5 class="headin5_amrc col_white_amrc pt2 text-center">Quick links</h5>
  <!--headin5_amrc-->
  <ul class="footer_ul_amrc">
  <li><a href="/#about">Cloud Security</a></li>
  <li><a href="/#about">Cloud Migration</a></li>
  <li><a href="/#about">Cloud Management & Optimization</a></li>
  <li><a href="/#about">Cloud Architecture & Design</a></li>
  <li><a href="https://www.academia.edu/37570818/Enterprise_K8S_Kubernetes_Logging" target="_blank">Case Study</a></li>
  </ul>
  <!--footer_ul_amrc ends here-->
  </div>


    <div class=" col-sm-4">
    <h5 class="headin5_amrc col_white_amrc pt2 text-center">Follow us</h5>
    <!--headin5_amrc ends here-->

    <ul class="social_footer_ul">
    <li><a href="https://www.facebook.com/entercloud" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="https://twitter.com/enter_cloud" target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/company/enterthecloud" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://twitter.com/enter_cloud" target="_blank"><i class="fab fa-github"></i></a></li>
    </ul>
    <!--footer_ul2_amrc ends here-->
    </div>
    </div>
    </div>


    <div class="container">
    <ul class="foote_bottom_ul_amrc">
    <li><a href="/#page-top">Home</a></li>
    <li><a href="/#about">Services</a></li>
    <li><a href="/#projects">Our Expertise</a></li>
    <li><a href="/#approach">Our Approach</a></li>
    <li><a href="/contact">Contact</a></li>
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2018 | <a href="#page-top">EnterCloud LLC</a></p>


    <!--social_footer_ul ends here-->
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/index.min.js"></script>

  </body>
</html>
